<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="page-header"> GENERACIÓN RESOLUCIÓN </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="panel panel-default col-lg-10 col-lg-offset-1">
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="form-group col-lg-6">
                <label>NÚMERO RESOLUCIÓN</label>
                <input type="number" class="form-control" ng-model="resolucionGeneracion.resolucion.numero" required>
              </div>
              <div class="form-group col-lg-6">
                <label>FACULTAD</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.facultad" required>
                  <option value="">--SELECIONE--</option>
                  <option ng-repeat="facultad in resolucionGeneracion.facultades" value={{facultad.Id}}> {{facultad.Nombre}}</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>NIVEL ACADEMICO</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.nivelAcademico" required>
                  <option value="">--SELECIONE--</option>
                  <option value="PREGRADO">PREGRADO</option>
                  <option value="POSGRADO">POSGRADO</option>
                </select>
              </div>
              <div class="form-group col-lg-6">
                <label>DEDICACIÓN</label>
                <select class="form-control" ng-model="resolucionGeneracion.resolucion.dedicacion" required>
                  <option value="">--SELECIONE--</option>
                  <option value="HCH">HCH</option>
                  <option value="HCP">HCP</option>                                        
                  <option ng-if="resolucionGeneracion.resolucion.nivelAcademico=='PREGRADO'" value="TCO-MTO">TCO-MTO</option>
                </select>
              </div>
              <div class="col-lg-6">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>PREÁMBULO</label>
                                          <textarea rows="7" class="form-control" ng-model="resolucionGeneracion.resolucion.preambulo" required></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                      <div class="col-lg-6">
                            <form role="form">
                                  <div class="row">
                                      <div class="form-group col-lg-12">
                                          <label>CONSIDERACIÓN</label>
                                          <textarea rows="7" class="form-control" ng-model="resolucionGeneracion.resolucion.consideracion" required></textarea>
                                      </div>
                                  </div>
                              </form>
                      </div>
                <div class="form-group col-lg-8 col-lg-offset-2">
                    <label></label>
                    <input type="submit" class="form-control btn btn-success" value="Generar Resolución" ng-click="resolucionGeneracion.crearResolucion()">
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
